# Ignore data directory at repository root
/data/raw/effectifs.csv
/data/clean/csv_clean.csv
/data/effectifs.sqlite3
/db/__pycache__/
__pycache__/
/scr/pages/more_complex_page/datagouv-communes.geojson